@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*Calendar Styles*/
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

/*Big Calendar Styles*/
.rbc-toolbar{
  flex-wrap: nowrap !important;
}

.rbc-header {
  color: white;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  height: 36px !important;
  background: #155dfc;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: #04aa6d !important;
}


.rbc-btn-group{
  font-size: 13px !important;
}

.rbc-btn-group button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-month-row{
  background-color: #f7fdff !important;
}

.rbc-date-cell {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: white !important;
  padding: 0px !important;
  margin-left: 4px !important;
  width: 100% !important;
  z-index: 2;
}

.rbc-event.open-shift {
  background-color: rgb(100 116 139); 
}

.rbc-event.completed-shift {
  background-color: rgb(34 197 94); 
}

.rbc-event.taken-shift {
  background-color: rgb(59 130 246); 
}

.rbc-event.cancelled-shift {
  background-color: rgb(239 68 68); 
}

.rbc-background-event{
  z-index: 2;
  padding: 0px !important;
  border: none !important;
}

.rbc-month-row .rbc-event{
  width: 90% !important;
}

.rbc-event-label{
  color: white !important;
  margin-bottom: 5px ;
}


